body,
html {
  background-color: silver;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  position: relative;
  left: 210%;
  width: 70%;
}

.buttons {
  position: relative;
  left: 15%;
  padding: 10px;
  top: 50px;
}

.button {
  font-family: verdana;
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px 2px;
}

.button:hover {
  background-color: gold;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
}

/*navigation bar*/
#navbar {
  overflow: hidden;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: gold;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 1px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7.5%;
  padding: 0%;
  height: auto;
}

/*FOOTER*/

.footer {
  text-align: left;
  background-color: #333;
  color: white;
  text-align: center;
}
a {
  color: white;
}
.fa:hover {
  opacity: 0.9;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.flogo {
  display: block;
  align: left;
  width: 7%;
  padding: 1%;
  height: auto;
}
hr.bottom {
  border: 1px solid gold;
  border-radius: 100px;
}

